/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-blue: #86A8E7;
    --color-light-purple: #8B93D8;
    --color-purple: #927EC6;
    --color-light-green: #2EC193;
    --color-pink: #E68EA1;
    --color-pink-beige: #BEA5A9;
    --color-dark-grey: #404756;
    --color-grey: #A4ABBD;
    --color-light-grey: #7c7979;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Red Hat Text', sans-serif;
    cursor: default;
}
a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0px;
}

button {
    background-color: transparent; 
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    padding: 16px;
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-light-purple);
    align-items: center;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__logo img {
    width: 35px;
    height: 35px;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-light-purple);
}

/* Home */
#home {
    background: url(./images/background.png) center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border: 2px solid var(--color-white);
    border-radius: 50%;
}

.home__title, .home__description {
    color: var(--color-white);
}

.home__contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius)
}

.home__contact:hover {
    background-color: var(--color-light-purple);
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

/* About */
.about__major {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    /* center로 배치하는 치트키(줄간조정) */
    font-size: 70px;    
    /* font awesome도 결국 font이므로 font-size로 아이콘 크기 조정 */
    margin: auto;
    color: var(--color-light-green);
    border: 1px solid var(--color-light-green);
    border-radius: 50%;
    margin-bottom: 16px;
}